@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #ff009d;
        text-shadow: 0 0 12px #ff008c, 0 0 50px #ff009d, 0 0 100px #ff0090;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .3s ;
}
.greetings > span:nth-child(5){
    animation-delay: .4s;
}
.greetings > span:nth-child(4){
    animation-delay: .5s;
}
.greetings > span:nth-child(3){
    animation-delay: .6s ;
}
.greetings1{
    font-size: 6rem;
    font-weight: 900;
}
.greetings1 > span{
    animation: glow 3.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #ff009d;
        text-shadow: 0 0 12px #ff008c, 0 0 50px #ff009d, 0 0 100px #ff0090;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings1 > span:nth-child(2){
    animation-delay: .3s ;
}
.greetings1 > span:nth-child(5){
    animation-delay: .4s;
}
.greetings1 > span:nth-child(4){
    animation-delay: .5s;
}
.greetings1 > span:nth-child(3){
    animation-delay: .6s ;
}
.description{
    font-size: small;
    margin-bottom: 20px;
    text-align: center;
  }
.button a:hover {
    background-color: #ff0073;
    color : white;
  }
.button a{
    text-decoration: none;
    font-size: 1rem;
    border: none;
    color: black;
    font-size: 16px;
    transition: 0.3s;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .greetings1{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: xx-small;
        text-align: justify;
    }
    
    .button a{
        font-size: .5rem;
    }
}
